@import "global.less";
@import "font-styles.css";

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  margin: 2rem;
  li {
    display: inline;
    padding-right: 1em;
  }
}

.giant-hotdog {
  align-self: flex-start;
  max-width: 25rem;

  img {
    width: 100%;
  }
}

.me {
  max-width: 25rem;
  padding: 1rem;

  border-radius: 0.5rem;
  background: #B2EBF2;
  color: #111;
  font-size: 2rem;

  .daughter {
    font-size: 1rem;
  }
}

.work-history {
  max-width: 50rem;
}
