@import "global.less";

.header {
  margin-bottom: 4rem;
}

i {
  vertical-align: middle;
}

a {
  vertical-align: middle;
}

a#giant-hotdog:hover {
  border: none;
}

.row {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.avatar {
  text-align: center;
}

.about {
  border-radius: 0.5rem;
  background: #B2EBF2;
  color: #111;
  padding: 2rem;
  text-align: center;
  font-size: 3rem;

  .daughter {
    font-size: 2rem;
  }

  .random-color {
    border-radius: 0.5rem;

    .random-color-name {
      padding: 0 0.5rem;
      filter: invert(1);
    }
  }
}
