@import "../../dist/bower_components/bootstrap/less/bootstrap.less";
@import "global.less";

.header {
  margin-bottom: 4rem;
}

i {
  vertical-align: middle;
}

.avatar {
  background: #eee;
  text-align: center;
}

.about {
  background: #111;
  color: #eee;
  padding: 2rem;
  text-align: center;
  font-size: 3rem;
}

.daughter {
  font-size: 2rem;
}

.random-color {
  border-radius: 1rem;

  .random-color-name {
    padding: 0 0.5rem;

    filter: invert(1);
  }
}

.vanity {
  text-align: center;
  font-size: 10rem;

  a {
    vertical-align: middle;
  }

  a:hover {
    border: none;
  }

  .github {
    background: #666;
    &:hover {
      background: #4181C6;
    }
  }

  .twitter {
    background: #999;
    &:hover {
      background: #61CCF2;
    }
  }

  .linkedin {
    background: #ccc;
    &:hover {
      background: #1984BE;
    }
  }
}
