/* Use data-text="TEXT" on elements that use the .glitch class */
.glitch {
  position: relative;
  .clip();
}

@keyframes glitch {
  0%, 90% { color: inherit;}
  91%, 100% { color: transparent;}
}

@keyframes noise {
  0%, 90% {color: transparent;}
  .noise-loop(20);
}

@keyframes noise-2 {
  0%, 90% {color: transparent;}
  .noise-loop(20);
}

.noise-loop(@n, @i: 0) when (@i =< @n) {
  @p: percentage(0.98 + (@i/@n) * 0.02);
  @clipTop: `(Math.random()*3)`;
  @clipBottom: `(Math.random()*4)`;

  @{p} {
    clip: rect(~"@{clipTop}rem",9999px,~"@{clipBottom}rem",0);
  }

  .noise-loop(@n, (@i + 1));
}

.clip() {
  animation: glitch 3s infinite linear alternate;

  &:after {
    content: attr(data-text);
    position: absolute;
    left: 0.1rem;
    top: 0;
    color: #bbb;

    animation: noise 3s infinite linear alternate;
  }

  &:before {
    content: attr(data-text);
    position: absolute;
    left: -0.1rem;
    top: 0;
    color: #fff;

    animation: noise-2 3s infinite linear alternate;
  }
}
